<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.abhiraj.cardviewwithrecyclerview">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:name=".Godlike"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <service android:name=".geofencing.GeofenceTrasitionService"/>
        <service android:name=".geofencing.StepListener"
            android:stopWithTask="true"/>
        <service android:name=".geofencing.GeofenceService"
                 android:stopWithTask="true"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDrv7xYbuhYT2ASlsp7FIJmDuzYGozMjBk"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".signup.CreateAccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".signup.LoginActivity"/>
        <activity android:name=".ui.TemporaryOfferActivity">
        </activity>
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
        </activity>
        <activity android:name=".BaseActivity">
        </activity>
        <activity android:name=".signup.GoogleSignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.OffersAndCouponsActivity">
        </activity>
        <activity
            android:name=".ui.HomeDrawerActivity"
            android:label="@string/title_activity_home_drawer"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleInstance">
        </activity>
        <activity android:name=".ui.DetailsActivity">
        </activity>
        <activity android:name=".write.AddShop">
        </activity>
        <activity android:name=".write.AddState">
        </activity>
        <activity android:name=".write.AddCity">
        </activity>
        <activity android:name=".write.AddToFirebase">
        </activity>
        <activity android:name=".write.AddMall">
        </activity>
        <activity android:name=".write.AddCoupons">
        </activity>
        <activity android:name=".write.AddCategories">
        </activity>

        <service
            android:name=".services.MyFirebaseInstanceIdService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".geofencing.Geofencing"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity android:name=".geofencing.SetLatLngRad">
        </activity>
        <activity android:name=".ui.MallSelectActivity">
        </activity>

        <receiver android:name=".receiver.GpsCheckReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>